html,body {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
    font-size: 20px;
}

a.navbar-brand img {
    width: 7em;
}

.navbar-nav.ml-auto a {
    background: #1a960b;
    border-radius: 25px;
    padding: 0px;
    color: white;
    font-size: 0.8em;
    font-family: inherit;
    font-weight: bold;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    padding: 0;

}

.dropdown-item {
    padding: 0 0.6em !important;
    margin-bottom: 0.2em;
}

a.navbar-brand img {
    background: #fff;
    border-radius: 5px;
    padding: 0.3em;
    opacity: 0.7;
}

.message {
    margin-left: 2em;
}

.greetings {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    z-index: 2000;
    color: #fff;
    font-family: inherit;
    transform: translate(-50%, -50%);

}

.greetings-text {
    background: #28a7454d;
    padding: 0.5em;
    font-family: inherit;
    font-size: 1.5em;
    border-radius: 10px;
}

.banglama {
    font-size: 1.8em;
}

@media screen and (max-width: 480px) {
    .greetings {
        left: 20%;
    }

}

.body-video {
    z-index: 1000;
    margin: 1em 0;
    width: 100%;
    height: 100%;

}

.down-arrow {
    position: absolute;
    /* top: 260%; */
    left: 45%;
    right: 0;
    bottom: 2%;
}

.body-video video {
    width: 100%;
}

.footer {
    background: #333;
    color: #999;
    font-family: inherit;
}

.btn-webmail {
    border-radius: 30px;
}

.footer-address {
    font-size: 15px;
}

/*contact us page
------------------*/
.our-clients {
    background: #ffffff;
    padding: 1em;
}

.our-clients-title {
    font-size: 1.5em;
    text-transform: uppercase;
}

.our-clients-title:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3em;
}

.our-client-list img {
    /*width: 5em;*/
    height: 5em;
    margin: 1.5em 0 0;
}

/*about  page
====================*/
.whoweare-body {
    width: 100%;
    height: auto;
    background-image: url("../images/3.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.chairman-body {
    width: 100%;
    height: auto;
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.body-shade {
    background: #000000c2;
    padding-top: 5em;
    color: #fff;
    padding: 5em 0;
}

.body-text {
    /*font-size: 0.8em;*/
    text-align: justify;
    color: #eeeeee;
}

.btn-right {
    float: right;
}

.title-text {
    font-family: 'Coda', cursive;
}

.footer-logo {
    width: 6em;
    height: 2em;
    margin: 0 auto;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.whoweare-image {
    height: 12em;
    box-shadow: 5px 5px 15px #999;
    border-radius: 10px;
}

.missionvision-image {
    box-shadow: 5px 5px 15px #999;
    border-radius: 10px;
}

.whoweare-image img {
    height: 100%;
    width: 100%;
}

.services-image {
    box-shadow: 5px 5px 15px #999;
    border: 3px solid #fff;
    background: #ffffff;
}

.services-image img {
    width: 100%;
}

.body-section {
    display: flex;
    align-items: center;
}

/*services  page
====================*/
.services-body {
    width: 100%;
    height: auto;
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.services-title {
    font-size: 1.6em;
    padding-bottom: 0.5em;
    color: #f00;
    font-weight: bold;
}

.services-text {
    /*font-size: 0.8em;*/
    text-align: justify;
}

.chairman-text {
    /*font-size: 0.8em;*/
}

/*contact us  page
====================*/
.contact-body {
    width: 100%;
    height: 18em;
    background-image: url("../images/contact-us.jpg");
    background-size: cover;
    background-position: center;
}

.career-body {
    width: 100%;
    height: 22em;
    background-image: url("../images/career.jpg");
    background-size: cover;
    background-position: center;

}

.career-image img {
    width: 100%;
}

.project-image img {
    box-shadow: 5px 5px 5px #0f7e30;
}

.card-body {
    padding: 0.5em 0.2em;
    font-size: 15px;
}

.card {
    height: 12em;
    margin-bottom: 1em;
}

/*gallery page
===============*/
.gallery-image {
    height: 9em;
    width: 100%;
    box-shadow: 5px 5px 15px #eee;
}

.gallery-image img {
    height: 100%;
    width: 100%;

}

.md-title {
    color: goldenrod;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #2f3031;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(79, 189, 157, 0.23);
}

.more-btn:hover {
    background: #0f7e30;
    color: #ffffff;
}

.card-text {
    font-size: 0.9em;
    text-align: center;
}

.career {
    background: #0004;
    padding: 1em;
}

.social a {
    color: #aaa;
}